body {
    /*display: flex;
    justify-content: center; */ /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    font-family: 'Arial', sans-serif;
    background-color: #aa3e3e;
    height: 100vh;            /* Makes body take full height of viewport */
    padding: 20px;
    margin: 10;                /* Removes default margin */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-box {
    background-color: black;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.news-box:hover {
    transform: scale(1.05);
}

.news-box h2 {
    color: #333;
    font-size: 20px;
}

.news-box p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.news-box a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.news-box a:hover {
    background-color: #004494;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.sign-in-out {
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;  /* Ensures borders between cells are shared */
    margin-top: 20px;           /* Optional: Adds some space above the table */
    border: 2px solid black;    /* Adds a border around the entire table */
}

th, td {
    border: 1px solid black;    /* Changes cell borders to black */
    padding: 8px;               /* Adds padding inside each cell */
    text-align: left;           /* Aligns text to the left */
}

th {
    background-color: #fa0303;  /* Adds a background color to the header cells */
    border-bottom: 2px solid rgb(2, 2, 2); /* Makes the bottom border of headers black */
}

tr:hover {
    background-color: #ffffff;  /* Optional: Adds a hover effect on each row */
}
