<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liverpool are Champions of England!!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> Liverpool clinch their 20th title on Sunday with a 5-1 win against Totenham Hotspur.</h1>
    <p>Goals from Diaz, Mac Allister, Gakpo, and Salah give the Reds their coronation.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGspfizzTVpjtJEL33MjCXQr9PCUovgQwXMA&s" alt="Liverpool">

    <p> 
        No one predicted this to happen. Liverpool were written off by pretty much everybody, the media, the pundits, and their own fans doubted them. They had a reason though, as Liverpool
        did a mass exodus of players, but the biggest departure was the legendary Jurgen Klopp, who had taken Liverpool out of their banter era in 2015, and within 9 years, made them
        Premier League Champions, Champions of Europe, FA Cup winners, League Cup winners twice, UEFA Super cup winners, Club world Cup winners, Community Shield winners. Following 
        in the footsteps of a figure like that can be near impossible, as proven in the past by multiple different clubs. Replacing Klopp would be the Feyenoord manager, Arne Slot, who had
        guided Feynoord, with a very small budget, to an Eredivisie title, as well as reaching the Conference League semi final, and runners up behind an insane PSV Eindhoven team. However,
        there were a lot of questions surrounding Slot, especially when previous Eredivisie managers like Erik Ten Hag had failed at rivals Manchester United. </br>

        The reds only major signing was Juventus winger Federico Chiesa for 10 million, but sadly there will no other major arrivals, as Slot was content with the squad that he had.
        I mean, he had won with far worse teams, but the media thought differently, and there were a lot of questions heading into the start of the season.
    </p>

    <p>
        So how did he do?
    </p>

    <p>
        Safe to say, he really did slot right into the Premier League, as our glorious Reds were able to win the first 7 out of 8 league games, which included a 3-0 spanking of rivals
        Manchester United. From there, the reds only got better, as they also strolled to a comfortable 1st place finish in the Champions League league phase, and a run to the League cup
        final, where they beat the likes of Real Madrid, German champions Bayer Leverkusen in the Champions League, and perennial choke jobs Tottenham Hotspur in the League cup. That form did take a 
        wobble though, as they were knocked out of the FA cup by Plymouth Argyle in February, lost to PSG on penalties in the Champions League and lost the League Cup final to Newcastle United in March.
        Nevertheless, the reds did not look fazed, as they beat rivals Everton, which avenged a 2-2 draw at Goodison earlier in the season, and they won a further 4 games to clinch the title against Tottenham.
    </p>


    <p>
        Now, given how atrociously bad Hospital FC have been this season, you would think they would be eaten alive very soon. In fact, ex Liverpool striker, and anime nerd Dominic Solanke scored 
        the opener in front of the Kop for spurs. However, 6 minutes later, a nice passing sequence leads to Luis Diaz equalizing. 6 minutes later, and Alexis Mac Allister gives Liverpool the 
        lead with a missile into the top right corner of the net from outside the box. In the 36th minute, Cody Gakpo makes it 3-1 after pouncing on a loose ball, then firing it into the bottom
        left corner of the net. It only get better for the Reds as they made it 4-1 through a counter attack, and Mo Salah cut inside and fired it into the near post. Liverpool then added a 5th
        after Diogo Jota had yet another shot blocked, the rebound was crossed into the box only for Destiny Udogie to put the ball into his own net. And after MANY doubters, a lack of spending to rival
        Spurs, and Mohamed Salah simply cooking everyone for 10 months, Liverpool were crowned Champions of England, matching their eternal rivals, Manchester United, on titles won.
    </p>

    <p>
        Now, I want to dedicate this last bit for 1 reason. Gloating. I want to gloat towards mainly 1 person in particular. Sir Alex Ferguson. In 2002, the Scot said to a paper that his biggest
        challenge was to "knock Liverpool off their f**king perch". Well, he did that by 2013, as United secured their 20th league title, 2 more than Liverpool at the time, where they had 18.
        But I do have one thing to say now.
    </p>

    <p>
        WE ARE BACK ON OUR F**KING PERCH!!
    </p>

    <p>
        So as the great Martin Tyler said: watch it, and drink it in.
    </p>
    <a href="/">Back to main page</a>

</body>
</html>
