<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>So long, Manchester United!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Manchester United say good bye to their FA cup hopes as Fulham defeats them on penalties.</h1>
    <img src="https://i.guim.co.uk/img/media/8bf86d3b28f436238c90b70652e90bcc6ece2624/243_506_4876_2926/master/4876.jpg?width=465&dpr=1&s=none&crop=none" alt="Manchester United">
    <p>Manchester United eliminated from the FA cup 5th round at home vs Fulham. </p>

    <p>Manchester United are having an abysmal season. They are 14th in the league in March, out of the League Cup, and now out of the FA cup, with their only hope for the season 
        being against Real Socidedad in the Europa League. The author is loving every second of it, as the Red Devils fall again in the FA cup to Fulham on penalties. However, it is important
        to note that Manchester United were the current FA cup holders, having their previous manager, Erik Ten Hag, somehow defeat local rivals Mancester City to win the tournament.
    </p>

    <br>

    <p>Well, that being said, for those of you unaware, Manchester United fired him after they were 15th after 7 games, and instead of doing the sensible thing and keeping a manager
        that knows the ins and outs of the club and peformed admirably in his 2 matches in charge, they decided to spend 10 million to bring in Rubin Amorim from Sporting CP in Lisbon.
        Sooner rather than later, that turned out to be a disaster, as Manchester United got even worse than before, as they are now 15th in March. This is their worst season in 40 years.
        And now, after a Calvin Bassey goal in a drab first half, followed by Bruno Fernandes rescuing them from the brink of elimination, Joshua Zirkzee waved good bye to his own fans 
        after he missed his penalty alongside Victor Lindelof, which were both saved by Fulham goalkeeper Bernd Leno.
    </p>

    <p>
        Well, with United out of the League cup, out of the League cup, and the league is a lost cause. The results are terrible, the fans are miserable, the staff are miserable,
        and the culture has been turned into something incredibly toxic. Now, it is easy to point the fingers at the ownership, and rightfully so, since they are the ones responsbile
        for the horrible mismanagement of the club. But unless that changes, nothing will change. They can buy whoever they want, hire whatever manager they want, but nothing will 
        change, as a result of the club culture.
    </p>

    <p>
        So, just another day at Manchester United.
    </p>

    <a href="/">Back to main page</a>
</body>
</html>
